################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/d1fb72d3-2599-49cf-9735-7e580cf8828f.vsidx
